

.circle-image {
  width: 250px; 
    height: 250px; 
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
    margin-top: 20px;
}

.font h1 {
  font-family: Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
color: #0a0a0a; /* Indigo */
}
.wave {
  width: 100%;
  height: 50px;
  margin-bottom: 300px;

}

.svg-wave {
  width: 100%;
  height: auto;

}
.secound {
  background-color: #ced1ba;
}
.text-center{
  margin-bottom: 50px;
}

.font p {
  font-family: Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #0a0a0a; /* Indigo */
}
.about-h1 {
  font-family: Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #4b0082; /* Indigo */
  margin-top: 50PX;
  margin-bottom: 50px;
}
h4 {
  font-family: Arial, sans-serif;
    color: #0918e2d5; /* Indigo */
}
h3  {
  font-family: Arial, sans-serif;
}
.App {
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style-position: inside; /* Moves the bullet closer to text */
  padding-left: 0.1rem; /* Adds left padding */
  margin: 0;
}

li {
  margin-bottom: 0.5rem; /* Tight spacing between list items */
  text-align: left; /* Ensures clean alignment */
}
.hover-pop {
  transition: transform 0.3s ease;
}

.hover-pop:hover {
  transform: scale(1.05);
}

